.page {
  min-height: 100vh;
  background-color: #f3f3f3;
}

.page__content {     
  padding: 20px 40px;  
  box-sizing: border-box;
  min-width: 1360px;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}