.page {
  min-height: 100vh;
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page__content {
  max-width: 1440px;   
  width: 100%;
  margin: 0 auto;      
  padding: 20px 40px;  
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;   
  background-color: #f3f3f3;
}