.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header__logo {
  font-weight: bold;
  font-size: 20px;
}

.header__add-btn {
  padding: 8px 14px;
  border: none;
  background-color: #000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.header__add-btn:hover {
  opacity: 0.8;
}