.modal__content_type_item {
  width: 498px;
  padding: 0;
  overflow: hidden;
  background: white;
  border-radius: 16px;
}

.modal__image {
  display: block;
  width: 100%;
  height: auto;
}

.modal__footer {
  padding: 16px 20px;
  color: #000;
}

.modal__name {
  margin: 0 0 8px;
  font: 700 16px/20px "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 600;
}

.modal__weather {
  margin: 0;
  font: 400 16px/20px "Cabinet Grotesk", Arial, sans-serif;
    font-size: 14px;
}

.modal__content_type_item .modal__close::before {
  color: white; 
}